modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MACKY AI Server"

[[workflows.workflow]]
name = "MACKY AI Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/user/work && node main.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
